#header {
  position: relative;
  min-height: 150px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

#header,
#header * {
  background: rgba(40, 40, 100, 0.25);
}

html,
body {
  min-height: 100%;
}
